*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/backend/node_modules
/backend/uploads
/backend/.env
/backend/*.log
/web-client/node_modules
/web-client/.nuxt
/web-client/.output
/web-client/*.log
/web-client/.DS_Store
/web-client/public/.DS_Store
/keystore
/keystore.properties
